%% 注入代码相关配置
[{put_in_code, [                                                % 配置                                                  {put_in_code, Conf::proplist()}
    {remote_node, 'abc@SJYH-Server-Update-10'},                     % 连接的远程节点                                        {remote_node, atom()}
    {cookie, '123'},                                                % 连接的远程节点的cookie                                {cookie, atom()}
    {modules, ['example']},                                         % 注入的模块名(beam文件一定在ebin_put_in目录中)         {modules, [atom()]} 
    {after_put_in, {example_after, run, []}}                        % 注入后执行指定的函数(注意最后函数参数是[Conf ++ A])   {after_put_in, {M::erlang:module(), F::atom(), A::[term()]}}
]}].
